
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ? Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

a:hover, a:active { outline: none; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.align-right{ text-align: right;}


/* IQ Tester Styles */


body{
  background: url("../images/quiz-app_bg_A.jpg") repeat scroll 0 0 transparent;
}

.page{
  width:100%;
}

#header{
  color:#ccc;
  background:#666;
  height:50px;
  border-bottom: 5px solid #6DE;
}

.logo{
  background: url("../images/quiz-logo_A.png") no-repeat scroll 0 0 transparent;
  width: 402px;
  height: 102px;
  margin: 5% auto;
}

.title{
  font-size: 20px;
  font-weight: bold;
}

.sub-title{
  font-size: 12px;
  font-style: italic;
}

#main-container{
  width: 100%;
  overflow: hidden;
  position: relative;
}

#footer{
  color:#ccc;
  background:#333;
  height:30px;
  clear:both;
}

button.navBtn{
  border: 2px none #555555;
  border-radius: 18px 18px 18px 18px;
  color: #000000;
  display: block;
  font-family: arial;
  font-size: 1.4em;
  height: 35px;
  width: 210px;
  background: rgb(255,255,255); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OTk5OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(153,153,153,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(153,153,153,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(153,153,153,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(153,153,153,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(153,153,153,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(153,153,153,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#999999',GradientType=0 ); /* IE6-8 */
}

button#startTestBtn,#helpBtn,#playAgainBtn,#newGameBtn{
  margin: 110px auto 0;
}

button#helpBtn,#newGameBtn{
  margin-top: 25px;
}

button#playAgainBtn{
  margin-top: 60px;
}

button#nextBtn{
  margin: 0 auto;
}

div.timerDisplay{
  background: url("../images/timer_start_modified.png") no-repeat scroll 0 0 transparent;
  width: 104px;
  height: 114px;
  margin: 10px auto 0;
}

label.enterName{
  color: #FFFFFF;
  display: block;
  font-family: arial;
  font-size: 1.3em;
  margin-bottom: 10px;
  text-align: center;
}

input{
  border: 2px none #000000;
  border-radius: 13px 13px 13px 13px;
  color: white;
  display: block;
  font-family: Cuprum;
  font-size: 1.2em;
  height: 25px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 5px;
  width: 310px;
}

div#topBar{
  color:  #00deff;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.3em;
}

div#bottomNavBar{
  font-size: 1.4em;
}

div#bottomNavBar a{
  color: #929292;
  text-decoration: none;

}

div.navBar{
  height: 40px;
  width: 100%;
  display:table;
}

div.navBar div.rowContainer{
  display: table-row;
  text-align: center;
}

div.navBar span{
  display: table-cell;
  vertical-align: middle;
  width: 33%;
  text-align: center;
}

div#bottomNavBar span{
  width: 34%;
}

div#questionContainer{
  padding: 10px;
  margin: 10px 0 10px 0;
  color: #FFFFFF;
  font-size: 1.3em;
  font-family: Cuprum;
  text-align: center;
}

ul.questionOptions{
  list-style: none;
  margin-top: 40px;
}

ul.questionOptions li{
  margin-top: 8px;
}

ul.questionOptions li a{
   display: block;
   width: 320px;
   height: 30px;
   text-decoration: none;
   margin: 0 auto;
   color:#FFFFFF;
   padding-top: 12px;
   background-color: rgba(255, 255, 255, 0.15);
   cursor: pointer;
}

ul.questionOptions li a.selected{
   background: rgba(255, 255, 255, 0.5) url("../images/check_mark.png") no-repeat 10px 8px;
}

a.navLink{
  cursor: pointer;
}

a.leftNav{
   background: url("../images/arrow_left.png") no-repeat scroll 0 0 transparent;
   padding-left: 30px;
}

a.rightNav{
   background: url("../images/arrow_right.png") no-repeat scroll top right transparent;
   padding-right: 30px;
 }

 #nextBtn[disabled]{
   background: none repeat scroll 0 0 rgba(84, 84, 84, 0.85);
   cursor: not-allowed;
 }

 h3.resultsHeading{
   color: #00E5FE;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
 }

div#resultPage{
  display: table;
    margin: 0 auto;
}

div#scoreContainer{
  color: #FFFFFF;
    font-family: georgia;
    padding: 15px;
    text-align: center;
	border: 1px solid #000000;
	background: rgba(0, 0, 0, 0.35);
	box-shadow: 0 0 5px 2px #434343;
	margin-top: 20px;
}

div#scoreContainer h4{
   font-size: 2.3em;
   font-weight: normal;
   font-style: italic;
}

span.scoreText{
   font-size: 3em;
   font-style: italic;
   text-shadow: 0 0 7px #FFFFFF;
}

p#correctAnswerCountContainer{
   margin-top: 10px;
    text-align: center;
	color: #FFFFFF;
	font-size: 1.2em;
	font-family: georgia;
}

p#correctAnswerCountContainer span.correctCountText{
   color: #00E5FE;
   font-size: 1.8em;
}

div#resultPage .logo{
   margin: 20% auto 3%;
}